ul.nav ul {
    margin-left: 10%;
}

.nav > li > a {
    padding: 2px 2px;
}

#groups {
    float: left;
    width: 30%;
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: auto;
}

#entries {
    float: left;
    width: 70%;
    overflow-x: auto;
}
