.nav {
    padding-left: 0;
}

.nav li {
    padding-left: 10%;
}

.group.nav-group-item {
    padding-left: 0;
}

tr.active,
.table-striped tr:nth-child(even).active {
    background-color: #dcdfe1;
}