ul.nav ul {
    margin-left: 10%;
}

.nav > li > a {
    padding: 2px 2px;
}

#groups {
    width: 30%;
    overflow-x: auto;
    display: inline-block;
}

#entries {
    width: 69%;
    overflow-x: auto;
    display: inline-block;
    vertical-align: top;
}

/* enables CSS3 transition for simple collapses, accordion and also navbar in responsive view */
.collapse {
    transition: height .3s ease-out;
    -webkit-transition: height .3s ease-out
}